
.box1 {
    position: relative;
    height: 180px;
    text-align: center;
    box-shadow: black;

}
.box2 {
    position: relative;
    height: 180px;
    text-align: center;
    box-shadow: black;
}
.box3 {
    position: relative;
    height: 180px;
    text-align: center;
    box-shadow: black;
}

#header_logo {
    margin-top: -10px;
    height: 100px;
    margin-left: -15px;
}
.carousel-inner {
    margin-top: 50px;
}
.item_img {
    position: relative;
    height: 360px;
    width: 700px;
    margin: auto;
}
.container1{
    position: relative;
    width: 1344px;
    height: 600px;
}
.item_img1 {
    position: relative;
    height: 360px;
    width: 700px;
    margin: auto;
}
.wrapper1{
    margin-top: 100px;
}
.edit_img {
    border-radius: 15px;
}
.move_right {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    color: black;
    position: relative;
}
.move_left {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    color: black;
    position: relative;
    margin-left: -50px;
    margin-top : 60px;
}
.row1 {
    display: flex;
}
.row2 {
    display: flex;
}

.widget{
    position: relative;
    height: 180px;
    box-shadow: black;
}
.widget_menu-item{
    height: 10px;
}

.icon_edit1 {
    display: inline
}
.icon_edit2{
    display: flex;
}
.container_footer{
    position: relative;
    width: 1345px;
    height: 400px;
}
.widget2_title{
    text-align: right;
}
.icon_edit3{
    position: relative;
}
.row3{
    position: relative;
    width: 1345px;
    height: 150px;
}
.move_img{
    position: relative;
    padding-left: -50px;
}
 
.img_hp{
    width: 360px;
    height: 180px;
}

.edit_hp1{
    background-image: url();
}

.room_suggestion{
    display:inline-flex
}
#hp11{
    background-image: url("../img/images.jpg");
    width: 50px;
    height: 50px;
}