*{
 margin: 0; 
 padding: 0;
}
.bk-header{
height: 90px;
z-index: 9999;
}
.stickey-top{
position: sticky;
top:0;
}
.max-heigth{
  height: 100%;
}
.max-width{
  width:100%;
}
.flex-1{
  flex: 1;
}
.header-row{
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo-wrap{
  width: 70px;
  height: 70px;
  /* background-color: rgba(0,0,0,.04); */
  border-radius: 50%;
}
.logo-img{
  height: 50px;
  width: auto;
  border-radius: 50%;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   */
   
}
.logo-img:hover{
  box-shadow: rgb(240, 77, 8) 0px 0px 15px 5px;
}
#menu-collapse-btn{
  height: 45px;
  width: 45px;
  background-image: url("../html/img/black-menu.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 40px auto;
  border-radius: 5px;
  border: 1px solid white;
  display: block;
}
#menu-collapse-btn:hover{
/* border-color: rgb(240, 77, 8); */
box-shadow: rgb(240, 77, 8) 0px 0px 4px 2px;
}

@media (min-width: 768px){
  #menu-collapse-btn{
      display: none !important;
  }
}
.navbar-menu{
  height: 100%;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.navbar-menu ul{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
  align-content: stretch;
  
}
.navbar-menu ul li {
  margin: auto 5px;
}
.navbar-menu ul li a {
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  margin: auto 5px;
}
.navbar-menu ul li:hover{
  box-shadow: rgb(240, 77, 8) 0px 0px 10px 5px;
}
.navbar-menu ul li a:hover{
  color: aqua !important;
}
@media (max-width:767px){
  .navbar-menu{
    display: none;
  }
}

